bin
target
classes
build
logs

.settings
.classpath
.checkstyle
.project
.pmd
.apt_generated
.MF
.gradle
pom.xml.releaseBackup
release.properties
suggestions.xdsl

*.log
*.conflict
*.orig

*.iml
*.ipr
*.iws
*.ipr
*.jar
*.*~
.idea

.factorypath
.gradletasknamecache

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!.idea/compiler.xml

